<!doctype html>
<html lang="en" style="height:100%">
<head>

    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>首页</title>
    <link rel="stylesheet" href="{% static 'css/yds/base.css'}">
    <script src="{% static 'js/yds/base.js' %}"></script>
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/common.js' %}"></script>
    <link href="{% static 'css/bootstrap.css'  %}" rel="stylesheet" >
    <link href="{% static 'css/bootstrap-theme.css' %}"  rel="stylesheet">
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>


    <![endif]-->
    <style>
        .left-list-container {
            padding-left:5px;
        }
        #main-menu li{
            background-color: #ffffff;
            border-radius: 6px;
            margin-top: 16px;
            display: table;
            width: 100%;
        }
        #main-menu li a span{
            text-align:center;
            font-size:.12rem;
            vertical-align: middle;
            height:.5rem;
            line-height:.5rem;
        }
        #main-menu li a span img {
           width:20%;
        }
        #main-menu li a {
            width: 100%;
            height: 100%;
            display: table-cell;
            text-align: left;
            vertical-align: middle;
             color: #000000;
        }

        #main-menu li a:focus, #main-menu li a:visited{
            outline:none;
            border:none;
            background:#0a86e1;
            color:white;
            border-radius:6px;
        }
        .date-span {
            font-size: 2rem;
            padding-left: 20px;
            margin-top: 10px;
            color: #999999;
        }
        .black_font_color{
            width:70%;
            float:right;
        }
        <!--@media only screen and (max-width: 1200px) {-->
                 <!--#main-menu li{-->
                    <!--font-size:.1rem;-->
                 <!--}-->
			<!--}-->
        @media only screen and (min-width: 1400px) {
                 #main-menu li{
                    font-size:.15rem;
                 }
			}

    </style>
</head>
<body style="height:100%;">
    <div class="container theme-showcase home-div" style="width:100%; height:100%; background:#c3c6cb;">
        <div class="row" style="height:100%">
            <div class="col-xs-2 col-lg-2" style="height:100%; padding:0; overflow-y:auto;">
                <div class="panel-body" style="overflow-x:auto; height:100%;padding:.1rem;">
                    <div class="sidebar-collapse" style="height:100%;min-width:140px;">
                        <ul class="nav" id="main-menu" style="height:100%;width:98%;">

                            <li id="6" style="background：rgb（10, 134, 225)">
                                <a class="mousenone" href="javascript:void(0)" onclick="open_municipal_management('/region_situation/');">
                                    <span><img src="{% static 'img/resource.png' %}"></span>
                                    <span class="black_font_color" style="color:#fff">区域现状</span>
                                </a>
                            </li>
                            <li id="7">
                                <a class="mousenone" href="javascript:void(0)" onclick="open_municipal_management('/regional_present_situation/');">
                                    <span><img src="{% static 'img/building.png' %}"></span>
                                    <span class="black_font_color">资源分类统计 </span>
                                </a>
                            </li>
                            <li id="5">
                                <a class="mousenone" href="javascript:void(0)" onclick="open_municipal_management('/event_statics/');">
                                    <span><img src="{% static 'img/setting.png' %}"></span>
                                    <span class="black_font_color">历史事件统计</span>
                                </a>
                            </li>
                            <li id="4">
                                <a class="mousenone" href="javascript:void(0)" onclick="open_municipal_management('/general_survey/');">
                                    <span><img src="{% static 'img/date.png' %}"></span>
                                    <span class="black_font_color">资源分类详查</span>
                                </a>
                            </li>
                            <li id="1">
                                <a class="mousenone" href="javascript:void(0)" onclick="open_municipal_management('/offence_build/');">
                                    <span><img src="{% static 'img/building.png' %}"></span>
                                    <span class="black_font_color">违建管理</span>
                                </a>
                            </li>

                            <li id="2">
                                <a class="mousenone" href="javascript:void(0)" onclick="open_municipal_management('/move_out/');">
                                    <span><img src="{% static 'img/remove.png' %}"></span>
                                    <span class="black_font_color">拆迁管理</span>
                                </a>
                            </li>

                            <li id="3">
                                <a class="mousenone" href="javascript:void(0)" onclick="open_municipal_management('/resource_management/');">
                                    <span><img src="{% static 'img/resource.png' %}"></span>
                                    <span class="black_font_color">影像管理</span>
                                </a>
                            </li>
                            <br>
                            <br>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-10 col-lg-10" style="padding:0; height:95%;background-color:#ffffff; border-radius:6px;">
                <div style="height:100%">
                    <iframe id="municipal_container" src="/region_situation/" frameborder="0" scrolling="no" style="width: 100%; height: 100%;">
                    </iframe>
                </div>
            </div>
        </div>
    </div>
    <script>
    window.onload=function(){
        //默认获取当前日期
        var today = new Date();
        var nowdate = (today.getFullYear()) + "-" + (today.getMonth() + 1) + "-" + today.getDate();
        //对日期格式进行处理
        var date = new Date(nowdate);
        var mon = date.getMonth() + 1;
        var day = date.getDate();
        var mydate = date.getFullYear() + "-" + (mon < 10 ? "0" + mon : mon) + "-" + (day < 10 ? "0" + day : day);
        $("#nowdate").val(mydate);
        $(".date-span").html(mydate);
    };
    </script>
    <script>
        var css_selected={
            background:"#0a86e1",
            color:"white",
            "border-radius":"6px",
            outline:"none",
            border:"none"
        };
        var css_unselected={
            background:"white",
            color:"black",
            "border-radius":"6px",
            outline:"none",
            border:"none"
        };

        var lis=[$("#1"),$("#2"),$("#3"),$("#4"),$("#5"),$("#6"),$("#7"),$("#8")];
        //var lis_bool=[flase,false,false,false,false,false];
        lis[5].css(css_selected)
        lis[0].click(function(){
            for(var i=0;i<8;i++){
                lis[i].css(css_unselected);
                //lis_bool[i]=false;
                }
            lis[0].css(css_selected);
            //lis_bool[i]=true;
        });
        lis[1].click(function(){
            for(var i=0;i<8;i++)
                lis[i].css(css_unselected);
            lis[1].css(css_selected);
        });
        lis[2].click(function(){
            for(var i=0;i<8;i++)
                lis[i].css(css_unselected);
            lis[2].css(css_selected);
        });
        lis[3].click(function(){
            for(var i=0;i<8;i++)
                lis[i].css(css_unselected);
            lis[3].css(css_selected);
        });
        lis[4].click(function(){
            for(var i=0;i<8;i++)
                lis[i].css(css_unselected);
            lis[4].css(css_selected);
        });
        lis[5].click(function(){
            for(var i=0;i<8;i++)
                lis[i].css(css_unselected);
            lis[5].css(css_selected);
        });
        lis[6].click(function(){
            for(var i=0;i<8;i++)
                lis[i].css(css_unselected);
            lis[6].css(css_selected);
        });
        lis[7].click(function(){
            for(var i=0;i<8;i++)
                lis[i].css(css_unselected);
            lis[7].css(css_selected);
        });
        var lispan = [$('.black_font_color').eq(0),$('.black_font_color').eq(1),$('.black_font_color').eq(2),$('.black_font_color').eq(3),$('.black_font_color').eq(4),$('.black_font_color').eq(5),$('.black_font_color').eq(6)];
        var blackcolor = {color:'black'};
        var whitecolor = {color:'white'};
        $('.black_font_color').eq(0).click(function(){
            for(var i = 0;i<lispan.length;i++){
			lispan[i].css(blackcolor);
			$('.black_font_color').eq(0).css(whitecolor)
		}
        })
        $('.black_font_color').eq(1).click(function(){
            for(var i = 0;i<lispan.length;i++){
			lispan[i].css(blackcolor);
			$('.black_font_color').eq(1).css(whitecolor)
		}
        })
        $('.black_font_color').eq(2).click(function(){
            for(var i = 0;i<lispan.length;i++){
			lispan[i].css(blackcolor);
			$('.black_font_color').eq(2).css(whitecolor)
		}
        })
        $('.black_font_color').eq(3).click(function(){
            for(var i = 0;i<lispan.length;i++){
			lispan[i].css(blackcolor);
			$('.black_font_color').eq(3).css(whitecolor)
		}
        })
        $('.black_font_color').eq(4).click(function(){
            for(var i = 0;i<lispan.length;i++){
			lispan[i].css(blackcolor);
			$('.black_font_color').eq(4).css(whitecolor)
		}
        })
        $('.black_font_color').eq(5).click(function(){
            for(var i = 0;i<lispan.length;i++){
			lispan[i].css(blackcolor);
			$('.black_font_color').eq(5).css(whitecolor)
		}
        })
        $('.black_font_color').eq(6).click(function(){
            for(var i = 0;i<lispan.length;i++){
			lispan[i].css(blackcolor);
			$('.black_font_color').eq(6).css(whitecolor)
		}
        })

        $('.mousenone').mouseover(function(){
            $('.mousenone').css('background','none')

        })
    </script>
    <!--<script>-->
        <!--//市政管理首页搜索变量-->
        <!--var event_search_name;-->
        <!--var event_search_type;-->
        <!--var event_search_time;-->
        <!--var event_search_address;-->
        <!--var unsearched = false;-->
        <!--function gotosearch(){-->
            <!--//alert(event_search_type);-->
            <!--if(event_search_type==1)-->
                <!--open_municipal_management('/offence_build/');-->
            <!--else if(event_search_type==2)-->
                <!--open_municipal_management('/move_out/');-->
            <!--alert("确认跳转到查询页面?");-->
        <!--};-->
    <!--</script>&lt;!&ndash; 全局变量 &ndash;&gt;-->

</body>
</html>